.header {
  background-color: #39434d;
  color: #00eb64;
  text-align: center;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
}
.container {
  display: flex;
  justify-content: center;
  margin: 5% 0% 0% 0%;
  gap: 10%;
}
.form_container {
  box-shadow: 0px 0px 5px 3px lightgray;
  padding: 2%;
  width: 40%;
}
.list_container > table > tbody > tr:nth-child(even) {
  border-bottom: 2px solid green;
}
.list_container > table {
  width: 150%;
}
